<div id="login">
  <h2>Login to the RMAPI dashboard</h2>
  <p>
  </p>
  
  <%= form_for(resource, :as => resource_name, :html => { :class => 'well' }, :url => session_path(resource_name)) do |f| %>
    <span class="form-error"><%= resource.errors[:email].join(", ") %></span>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>
  
    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>
  
    <!--<% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>-->
  
    <div><%= f.submit "Login!", :class => 'btn btn-success' %></div>
    
    <div class="signup_links">
      <%= render "devise/shared/links" %>
    </div>
    
    <div class="clearfix"></div>
  <% end %>
</div>
